{% if show_confirmation|default(false) %}
    {% set attr = {'data-confirmation': 'true'} %}
    {{ include('product/_delete_post_confirmation.html.twig') }}
{% endif %}

 {{ form_start(form, {attr: attr|default({})}) }}
        {{ form_row(form.name) }}
        {{ form_row(form.summary) }}
        {{ form_row(form.content) }}
        {{ form_row(form.price) }}

        {% if(fileName) %}
        <a href="{{ asset('uploads/products/' ~ fileName) }}" target="__blank">{{ 'label.view_product'|trans }}</a>
        {% endif %}

        {% if(fileName) %}
        <div class="row-cols-1"><img src="{{ asset('uploads/products/' ~ fileName) }}"  width="200px" height="200px"></a></div>
        {% endif %}

        {{ form_row(form.brochure) }}       
        {{ form_row(form.publishedAt) }}

        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save" aria-hidden="true"></i> {{ button_label|default('label.create_post'|trans) }}
        </button>
       
        <a href="{{ path('admin_product_index') }}" class="btn btn-link">
            <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_product_list'|trans }}
        </a>
    {{ form_end(form) }}
